html{
    background-color: lightblue;
}
.title{
    margin-top: 10px;
    text-align: center;
}
.search-bar{
    height: 40px;
    padding-bottom:40px;
    padding-top: 40px;
    font-size:20px;
    margin-bottom:20px;
}
.searchInput{
    border: 1px solid black;
    width: 50%;
    height:40px;
}
.video-img{
    height: 100px;
    width:50%;
    height: 300px;
    margin-left:20px;
  
.video-detail{
    margin-top: 20px;
    padding-top: 20px;
}
   
}
.main-video-info{
    margin-top:5px;
    margin-left: 20px;
    border: 1px solid #807C7C;
}
.info{
    padding:10px;
    border: 1px solid #807C7C;
    margin-right:10px;
}
.individual-video{
    list-style-type: none;
    margin-bottom: 10px;
}